extends layouts/main

block content
    .form-container
        form(action=routes.editVideo, method="get")
            input(type="text", placeholder="Title", name="title")
            input(type="text", placeholder="Description", name="description")
            input(type="file", value="Upload Video")
        a.form-container__link(href=`/videos${routes.deleteVideo}`) Delete Video